@import "bootstrap";

/*
 * Some universal styling of bootstrap
 * 
 */
html {
  overflow-y: scroll;
}

body {
  //padding-top: 60px;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
//-------------------------------------------

/* 
 * typography 
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
//----------------------------------------------

/* 
 * header 
 */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  //padding-top: 9px;
  padding-top: 2px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
//-----------------------------------------------

/* 
 * footer 
 */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
//----------------------------------------------------

//
//Modified header top nav bar
//
div.navbar-inner {
  background-color: #306AA4; //#FFB547; //#0066FF; //#2E53C1; //#708DE2; //#335CD6; //#006B8F; //#0099CC; //$gray;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  
}
/* .navbar .nav > li {
  a {
    color: #fff;
  }
  a:hover {
    font-weight: bold;
  }
} */

div#upperinnerbar {
  //.navbar .nav > li {
    a {
      color: #fff; //#932500; //#8F0000;
    }
    a:hover {
      font-weight: bold;
      //color: #720000;
    }
  //}
}


.header_dropdownmenu_element {
  a {
    color: #000 !important;
  }
}
//------------ Header modification end -------------


// ----------------------------Form error messages ---------------------------
/* For form error messages
    - http://guides.rubyonrails.org/active_record_validations_callbacks.html#customizing-error-messages-css
    - http://twitter.github.com/bootstrap/base-css.html#forms
*/
.errorExplanation {
  @extend .control-group;
  @extend .error;
  @extend .well;
  border-color: $red;
  color: $errorText;
  background-color: $errorBackground;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;  
}
// --------------- Done form error messages ------------------------------------

/* ========== To adjust lower menubar : height color and other styling  START ================ */
div#lowerinnerbar {
  padding: 0px;
}
div#lowermenubar.well {
  min-height: 3px;
  padding: 0px;
  margin-bottom: 0px; 
  background-color: #fff;
  
  // Adjusted link colors to make them abit more visibile on current background.
  a {
    //color: #BABABA;
    color: #000;
  }
  a:hover {
    //color: #fff;
    color: #0033CC;
  } 
  //
}

div#lowernavdiv {
   height: 26px;
   a {
    padding-top: 4px;
   }
   
}

#lowermenubar_divider {
  height: 24px;
  background-color: #949494;
}
/* ========== To adjust lower menubar : height color and other styling  END ================ */
//-------------------------------------------------------


