// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//-----------related to scroll spy behavior -----------------------
#to-Scroll {
  margin-left: 220px;
}
.profilesubsections {
  //position: fixed;
  position: absolute;
  width: 180px;
  
  ul > li > a {
    border-width: 1px;
    border-style:solid;
    
    i {
      color: #fff;
    }
  }
}
// ------------------------

// Top small bar with patinet name and OPD number
.basicinfo {
  padding-top: 10px;
  padding-bottom: 0px;
  height: 52px;
      
  #patient_menus {
    margin-left: 10px;
  }
  
  li.active > a{
    height: 10px;
    padding-top: 5px;
    margin-top: 5px;
  }
}
//---------------------------------

.section_title {
  height: 25px;
  //background-color: #08c;
  background-color: #eee;
  padding-top: 5px;
  padding-left: 3px;
  //h3 {
  //  color: #fff;
  //}
}

.section_content {
  padding-left: 20px;
  background-color: #fff;    
  p {
    line-height: 1.3em;
  } 
}
.section_end_line {
  background-color: #000;
  height: 2px;
}
.section_edit_button {
  height: 15px;
  padding-top: 0px;
}

.section_edit_save {
  height: 13px;
  padding-top: 0px;
}

.section_edit_cancel {
  height: 13px;
  padding-top: 0px;
}
//==================================================

//Width of bigger textboxes on contact page
#patient_homeaddress, #patient_jobaddress, #patient_jobdescription{
  width: 450px;
  overflow: auto;
}

.contact_info_h3 {
  //background-color: #F5F5F5; //rgb(245,245,245);  //#1987D1; //#007ACC;
  height: 22px;
}


#actual_edit_pch_form {
  margin-left: 220px;
}

#editor_container {
  margin-top: 5px;
}

#sec_editor {
  width: 650px;
  height: 350px;
}

#dirtyEditorMsg {
  display: none;
  height: 25px;
  background-color: #FFD6CC;
  h4 {
    color: #FF0000;
    padding-top: 5px;
  }
}

#pch_update_err_msg {
  display: none;
  height: 25px;
  h4 {
    color: #FF0000;
    padding-top: 5px;
  }
}

#pch_update_success_msg {
  display: none;
  height: 25px;
  background-color: #CCF5CC;
  h4 {
    color: #009933;
    padding-top: 5px;
  }
}

#section_title_on_edit_form {
  width: 325px;
}


//-----------------------------------------------

//Contact info page

.div_address {
  height: 125px;
  margin-bottom: 5px;
  overflow: auto;
}
.div_homecontact {
  height: 125px;
  width: 280px;
  margin-bottom: 5px;
}
.email_div {
  height: 10px;
  width: 880px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.officeemail_div {
  height: 10px;
  width: 880px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.div_officephone_addr {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 580px;
}
.officephone_div {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 5px;
}
.div_officeaddress {
  height: 125px;
  margin-bottom: 5px;
  margin-left: 0px;
  overflow: auto;
}

.div_jobdesc {
  height: 158px;
  width: 280px;
  overflow: auto;
}

.contactinfo_line {
  height: 2px;
  background-color: #000;
  padding-top: 0px;
  margin-top: 0px;
}
//-----------------------------------------------------