/%header.navbar.navbar-fixed-top
%header.navbar
  %div.navbar-inner
    /= link_to "sample app", '#', id: "logo"
    %div.container
      = link_to "sample app", '#', id: "logo"
      %nav
        %ul.nav.pull-right
          /%li
          /  = link_to "Home",    '#'
          /%li
          /  = link_to "Help",    '#'
          -if !@signup.nil? && @signup == true
            %li
              = link_to "Sign in", '#'
          -if !@signin.nil? && @signin == true
            %li
              = link_to "Create new account", '#'
