= render :partial => "patients/patient_basic_info",:locals => {:curselect => "none"}
%div.row
  %h4 New followup information
  = render :partial => "patient_followups/new_edit",:locals => {:mode => "new"}
  

