%div.row.basicinfo.well
  %div.span7
    %h3 #{@patient_entry.firstname} #{@patient_entry.middlename} #{@patient_entry.lastname}
  %div.span4.pull-right
    %h3 OPD Number: #{@patient_entry.opd_number}
  %div.span10{:id => "patient_menus"}
    %ul.nav.nav-pills{:id => "tmp"}
      -if curselect == "contacts"
        %li.active
          /%a{:href => patientcontact_path(@patient_entry)} Contact information
          %a{:href => contact_patient_path(@patient_entry)} Contact information
      -else
        %li
          %a{:href => contact_patient_path(@patient_entry)} Contact information
      -if curselect == "history"
        %li.active
          %a{:href => casehistory_patient_path(@patient_entry)} Case history
      -else
        %li
          %a{:href => casehistory_patient_path(@patient_entry)} Case history
      -if curselect == "followups"
        %li.active
          /%a{:href => followups_patient_path(@patient_entry)} Followups
          %a{:href => patient_patient_followups_path(@patient_entry)} Followups
      -else
        %li
          /%a{:href => followups_patient_path(@patient_entry)} Followups
          %a{:href => patient_patient_followups_path(@patient_entry)} Followups
      /%li
      /  %a{:href => sample_path} Followups
      /%li
      /  %a{:href => sample_path} Symptoms chart
        